<h2>We got your order! We'll let you know when it ships and is headed your way.</h2>
<h1>Order #<%= @order.id %></h1>
<div>
  <table>
    <thead>
      <tr>
        <th colspan="1">Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order_total = 0 %>
      <% @order.line_items.each do |line_item| %>
        <%= render 'item', line_item: line_item %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        </th>
        <th>
          TOTAL:<%= @order_total %>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
<h3>Thanks for shopping at Jungle.com!</h3>
